<div>
    <h5 class="mx-1"> <%= email %> </h5>
    <button class="btn btn-info" onclick="location.href = '/api/dashboard'">DASHBOARD</button>
    <button class="btn btn-primary" onclick="location.href = '/api/protected'">PROTECTED</button>
    <button class="btn btn-info" onclick="location.href = '/api/projects/add'">ADD NEW PROJECT</button>
    <button class="btn btn-success" onclick="location.href = '/admin'">ADMIN</button>
    <button class="btn btn-danger" onclick="location.href = '/api/logout'">LOGOUT</button>
</div>