<footer class="container-fluid text-center text-light order border-primary px-5 justify-content-center" style="background-color:
#03045E" >
    <br>
    <div class="row text-center " style="font-family: 'Inter', sans-serif; font-size: 30px">
        <div class="col-4" onclick="location.href='/dashboard'" style="cursor: pointer">Start-Up List</div>
        <div class="col-4" onclick="location.href='/contact'" style="cursor: pointer">Contact Us</div>
        <div class="col-4" onclick="location.href='/faq'" style="cursor: pointer">FAQ</div>
    </div>
    <br>
    <div class="row text-center mx-auto">
        <div class="col-1"></div>
        <div class="col-2"><i class="fa fa-2x fa-linkedin"></i></div>
        <div class="col-2"><i class="fa fa-2x fa-google-plus"></i></div>
        <div class="col-2"><i class="fa fa-2x fa-twitter"></i></div>
        <div class="col-2"><i class="fa fa-2x fa-instagram"></i></div>
        <div class="col-2"><i class="fa fa-2x fa-facebook-square"></i></div>
        <div class="col-1"></div>
    </div>
    <br>
    <div class="row text center" style="font-family: 'Inter', sans-serif; font-size: 20px">
        <div class="col-12">© 2022 StarToryx Start Up Platform | All rights reserved</div>
    </div>
    <br>
    <script src="jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
</footer>