<header id="header" style="background: #03045E;">
    <div style="float: left; font-size: 25px;">

    </div>
    <div class="my-auto" style="text-align: right;">
        <img style="cursor: pointer; filter: invert(100%); width: 20px; height: 20px; color: white" src="img/avatar-icon.png" alt=""
        onclick="location.href = '/api/profile'">
        <img style="filter: invert(100%); width: 20px; height: 20px; color: white" src="img/search-icon.png" alt="">
    </div>
</header>