<html>
<head>
    <title>Logged in Google OAuth TEST</title>
</head>

<body>
<h1>Please Register/Login here!</h1>
<a href="/api/google">
    <button type="button">Login with Google</button>
</a>
{{{body}}}
</body>
</html>