<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Registration</title>

  <%- include('../partials/head'); %>

  <!-- FONT AWESOME-->
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="./style.css">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Brawler&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Arvo&family=Brawler&family=Zilla+Slab:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  </style>
</head>
<body>
<div class="container-fluid mb-5 mt-5 login_reg text-center">
  <center>
    <div class="row login__reg w-75">
      <div class="col-6" ><img src="https://res.cloudinary.com/dluwizg51/image/upload/v1653566619/login_reg_zv2zl3.png" alt=""></div>
      <div class="col-6">
        <div class="col-12 " style="margin-top: 150px">
          <fieldset border="1">
            <legend class="float-none w-auto mx-sm-2 text-center" >
              Enter a new password
            </legend>
          </fieldset>
        </div>
        <div class="col-12 my-4" style="min-width: 300px">
          <form method="post" action="/api/reset/<%= link %>">
            <input style="width: 60%" class="form-control" type="password" name="password" placeholder="password" required> <br>
            <input style="width: 60%" class="form-control" type="password" name="confirm_pass" placeholder="confirm password" required> <br><br>
            <input style="width: 60%" class="btn btn-success" type="submit" value="Confirm">
          </form>
        </div>
    </div>
  </center>
</div>

<script src="script.js"></script>

</body>
</html>