<!DOCTYPE html>
<html lang="en">
<head>
  <title>Startoryx Account</title>
  <%- include('../partials/head'); %>
</head>
<body>
<div class="container-fluid mb-5 mt-5 login_reg text-center">
  <center>
    <div class="row login__reg w-75">
      <div class="col-6" ><img src="https://res.cloudinary.com/dluwizg51/image/upload/v1653566619/login_reg_zv2zl3.png" alt=""></div>
      <div class="col-6">
        <div class="col-12 " style="margin-top: 150px">
          <fieldset border="1">
            <legend class="float-none w-auto mx-sm-2 text-center" >
              Enter a new password
            </legend>
          </fieldset>
        </div>
        <div class="col-12 my-4" style="min-width: 300px">
          <form method="post" action="/reset/<%= link %>">
            <input style="width: 60%" class="form-control" type="password" name="password" placeholder="password" required> <br>
            <input style="width: 60%" class="form-control" type="password" name="confirm_pass" placeholder="confirm password" required> <br><br>
            <input style="width: 60%" class="btn btn-success" type="submit" value="Confirm">
          </form>
        </div>
    </div>
  </center>
</div>

<script src="script.js"></script>

</body>
</html>