<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container mx-3">
<main>
    <br><br>
    <div class="text-center">
        <form method="post" action="/api/reset/<%= link %>">
            min length: 7, max: 32<br>
            <input type="password" name="password" placeholder="password" required> <br><br>
            <input type="password" name="confirm_pass" placeholder="confirm password" required> <br><br>
            <input type="submit">
        </form>

    </div>
</main>
</body>
</html>