<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container mx-3">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <h2>Hello, <%= name %> </h2>
    <img src="<%= imgSrc %>">
</main>


</body>
</html>